.navbar{
    background-color: #680446;
}

.nav-link,
.navbar-brand{
    color: #ffff
}

.nav-link{
    margin-right: 25px;
}

.navbar-brand{
    margin-left: 10px;
}

.navbar-collapse{
    justify-content: flex-end;
}

footer{
    background-color: black;
    color: white;
    bottom: 0;
    width: 100%;
    height: 10vh;
    position: fixed;

}

#timers{
width: 100%;
}

.dark-mode {
    background-color: black;
    color: white;
  }
