.navbar{
    background-color: #680446;
}

.nav-link,
.navbar-brand{
    color: #ffff
}

.nav-link{
    margin-right: 25px;
}

.navbar-brand{
    margin-left: 10px;
}

.navbar-collapse{
    justify-content: flex-end;
}

footer{
position: bottom;
background-color: black;
color: white;
}

#timers{
width: 100%;
}

.dark-mode {
    background-color: black;
    color: white;
    transition: background 0.2s;
}

body{
    background-color: white;
    transition: background 0.4s;
}

#copy{
    bottom: 0;
}
