.navbar{
    background-color: #680446;
}

.nav-link,
.navbar-brand{
    color: #ffff
}

.nav-link{
    margin-right: 25px;
}

.navbar-brand{
    margin-left: 10px;
}

.navbar-collapse{
    justify-content: flex-end;
}

.footer{
    background: black;
    color: white;
    bottom: 0;
    width: 100%;
    margin-left: 0px;
    height: 100%;
    margin-right: 0px;

}

footer{
    background: black;
    height: 100%;
}

#timers{
width: 100%;
}

.dark-mode {
    background-color: black;
    color: white;
    transition: background 0.4s;
}

body{
    background-color: white;
    transition: background 0.4s;
}

#copy{
    bottom: 0;
}
